.had-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }
}
.fade-in {
  animation: fade-in 0.2s ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}
.fade-out {
  animation: fade-out 0.2s ease-in-out forwards;
}
