.hero {
  background-color: $veryLightGray;

  .container {
    @include breakpoint-up(large) {
      min-height: 41rem;
      display: flex;
      align-items: center;
    }
  }

  &__image {
    position: relative;
    background-image: url("/images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 60%;
    }

    @include breakpoint-up(large) {
      // background-image: url("/images/bg-intro-desktop.svg");
      // background-position: left center;
      background-image: none;
      flex: 3;
      order: 2;
      align-self: stretch;
    }

    // &::before,
    // &::after {
    //   border: 1px solid blue;
    // }

    &::before {
      content: "";

      @include breakpoint-up(large) {
        width: 150%;
        height: 100%;
        position: absolute;
        background-size: 122%;
        background-repeat: no-repeat;
        background-position: 0% 83%;
        background-image: url("/images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
      }
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url("/images/image-mockups.png");
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(medium) {
        background-size: 52%;
      }

      @include breakpoint-up(large) {
        width: 120%;
        height: 122%;
        background-size: 94%;
        background-position: center 150%;
        left: 22%;
      }
    }
  }

  &__text {
    text-align: center;
    flex-direction: column;
    justify-content: center;

    h1 {
      margin-bottom: 1.5rem;
      font-weight: 300;
      font-size: 2.31rem;
      line-height: 1.15;
      color: $darkBlue;

      @include breakpoint-up(large) {
        font-size: $font-xlg;
      }
    }

    p {
      margin-bottom: 2.25rem;
      line-height: 1.5;
    }

    @include breakpoint-up(large) {
      flex: 2;
      order: 1;

      text-align: left;
    }
  }
}
